[Desktop Entry]
Comment=PurE global theme for KDE Plasma 5
Name=PurE
X-KDE-PluginInfo-Author=skylake118
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=skylake118@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=PurE
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://gitlab.com/jomada/moe-theme
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1643109,kns://plasma-themes.knsrc/api.kde-look.org/1642605
